<div class="container-fluid">
  <!-- First row -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h2 class="card-title">It was going to rain</h2>
        <div>
          <span class="badge ml-5">
            <!-- ml-5 = margin-left: 0.5rem (5px) -->
            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 124
            Points
            <!-- text-danger = color: danger-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
          <span class="badge">
            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
            5 Comments
            <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
          </span>
        </div>
      </div>
    </div>

    
  </div>
</div>
