<!-- Sidebar overlay -->
<div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

<div class="sidebar">
  <div class="sidebar-menu">
    <h5 class="sidebar-title">General</h5>
    <div class="sidebar-divider"></div>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      New Stories
    </a>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      Top Stories
    </a>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      Best Stories
    </a>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      Ask
    </a>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      Stories
    </a>
    <a href="#" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon bg-transparent justify-content-start mr-0">
        <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      </span>
      Jobs
    </a>
  </div>
</div>