{% set base = '../' if '/user/' in page.url or '/item/' in page.url else './' %}
<html class="dark" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ base }}assets/images/favicon.ico"
        />
        <link
            rel="apple-touch-icon"
            href="{{ base }}assets/images/apple-touch-icon.png"
        />
        <meta property="og:title" content="HN" />
        <meta
            property="og:description"
            content="Minimal web client for Hacker News content."
        />
        <meta
            property="og:image"
            content="{{ base }}assets/images/og-image.png"
        />
        <meta property="og:type" content="website" />
        <title>HN</title>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&amp;display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body
        class="bg-background dark:bg-on-background text-on-surface dark:text-inverse-on-surface font-body selection:bg-primary-container selection:text-on-primary-container"
    >
        {% include "components/navbar.njk" %} {{ content | safe }} {% include
        "components/footer.njk" %}
    </body>
</html>
