body.dark{
  background-color: #000;
}

.flat.card a.header{
 color: #555 !important; 
}

.ui.small.label.gwc-green{
  background-color: #33bb77 !important;
}

#top-stories{
  margin-bottom: 20px;
}

#news-container .column:nth-child(1n) .card{
  border-left: 2px solid #F76262;
}
#news-container .column:nth-child(2n) .card{
  border-left: 2px solid #216583;
}
#news-container .column:nth-child(3n) .card{
  border-left: 2px solid #65C0BA;
}
#news-container .column:nth-child(4n) .card{
  border-left: 2px solid #2D4059;
}
#news-container .column:nth-child(5n) .card{
  border-left: 2px solid #FFB400;
}
#news-container .column:nth-child(6n) .card{
  border-left: 2px solid #8AAE92;
}
#news-container .column:nth-child(7n) .card{
  border-left: 2px solid #333366;
}
#news-container .column:nth-child(8n) .card{
  border-left: 2px solid #7971EA;
}
#news-container .column:nth-child(9n) .card{
  border-left: 2px solid #20C1BD;
}
#news-container .column:nth-child(10n) .card{
  border-left: 2px solid #326765;
}
#news-container .column:nth-child(11n) .card{
  border-left: 2px solid #9951FF;
}
#news-container .column:nth-child(12n) .card{
  border-left: 2px solid #FFAF87;
}
#news-container .column:nth-child(13n) .card{
  border-left: 2px solid #A6ED8E;
}
#news-container .column:nth-child(14n) .card{
  border-left: 2px solid #FD5F00;
}
#news-container .column:nth-child(15n) .card{
  border-left: 2px solid #E01171;
}
#news-container .column:nth-child(16n) .card{
  border-left: 2px solid #3E3939;
}
#news-container .column:nth-child(17n) .card{
  border-left: 2px solid #005792;
}
#news-container .column:nth-child(18n) .card{
  border-left: 2px solid #53C7F0;
}
#news-container .column:nth-child(19n) .card{
  border-left: 2px solid #EC9E69;
}
#news-container .column:nth-child(20n) .card{
  border-left: 2px solid #685454;
}

.dark .vertical.menu,
.dark .menu,
.dark .card{
  background: #222;
}

.dark .card .content,
.dark .card a.header,
.dark .vertical.menu .item,
.menu .item{
  color: #ccc !important;
}

.dark .card .meta{
  color: #888;
}

.dark .flat .segment,
.dark .flat .card{
  -webkit-box-shadow: 0 4px 8px -8px #111;
  box-shadow: 0 4px 8px -8px #111;
  border-radius: 0px;
  transition: 0.5s box-shadow ease-in-out;
}

.dark .flat .item.menu .item:hover,
.dark .flat .segment:hover,
.dark .flat .card:hover{
  -webkit-box-shadow: 0 10px 8px -8px #222;
  box-shadow: 0 10px 8px -8px #222;
  border-radius: 0px;
}